/* You can add global styles to this file, and also import other style files */

html, body {
  font-family: 'Montserrat', sans-serif;
}

ngx-table {
  display: inline-flex;
  flex-direction: column;
}

ngx-row, ngx-header-row, ngx-footer-row {
  display: flex;
  flex-direction: row;
}

ngx-header-row {
  ngx-cell {
    padding: 8px 16px;
  }
  ngx-column-line:not(:first-child):not(:last-child) {
    margin: 8px 0;
  }
}

ngx-footer-row {
  ngx-cell {
    padding: 8px 16px;
  }
  ngx-column-line:not(:first-child):not(:last-child) {
    margin: 8px 0;
  }
}

ngx-cell {
  padding: 16px;
  //flex: 1 1;
}

ngx-row-line:not(:first-child):not(:last-child):not(:nth-last-child(3)):not(:nth-child(3)) {
  display: block;
  height: 1px;
  background: lightgray;
}

ngx-row-line:nth-child(3),
ngx-row-line:nth-last-child(3) {
  height: 2px;
  background: blueviolet;
}

ngx-column-line:not(:first-child):not(:last-child) {
  width: 1px;
  background: lightgray;
  margin: 16px 0;
}
